<p style="color: green"><%= notice %></p>

<div class="flex flex-col w-full">
  <h1 class="text-2xl">Posts</h1>
  <div id="posts">
    <% @posts.each do |post| %>
      <div class="p-4">
        <%= render post %>
        <p class="flex justify-end">
          <%= link_to "Show this post", post %>
        </p>
      </div>
    <% end %>
  </div>

  <%= link_to "New post", new_post_path %>
</div>
